.speech{
    font-size: 10px;
    color: black;
}

.song{
    font-size: 20px;
    color: black;
}

.direction{
    font-size: 1em;
    color: black;
}
.direction:hover{
    background-color: purple;
    color: white;
}

.name{
    font-size: 1.5em;
    color: black;
}

.name:hover{
    background-color: yellow;
    color: black;
    box-shadow: 15px 15px 5px 5px red;
    filter: blur(0.5px);
    border: 20px solid black;
}

.phoebe{
    font-size: 1.5em;
    color: black;
}

.wilfred{
    font-size: 1.5em;
    color: black;
}

.crowd{
    font-size: 1.5em;
    color: black;
}

.yeomen{
    font-size: 1.5em;
    color: black;
}

.dame{
    font-size: 1.5em;
    color: black;
}

.meryll{
    font-size: 1.5em;
    color: black;
}

.speech{
    font-size: 10px;
    color: blue;
}

.song{
    font-size: 20px;
    color: blue;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

tr, td{
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}

ul.navbar-horizontal {
      list-style-type: none;
      margin: 0;
      padding: 0;
    
    }
    
    ul.navbar-horizontal li {
      float:left;
      color:#000;
      background-color:cyan;
    }
    
    ul.navbar-horizontal a {
      display:block;
      padding:8px
    }
    
    ul.navbar-horizontal a:hover {  
      background-color: pink;
      color:black;
    }